<div class="fftuprofile" id="tw%USER_ID%" style="background:#%USER_PROFILE_BACKGROUND_COLOR%;">
	<div class="fftw_user-info" style="background:#%USER_PROFILE_SIDEBAR_FILL_COLOR%;color:#%USER_PROFILE_TEXT_COLOR%">
		<div class="fftw_thumb">
			%USER_PICTURE_LINK%
		</div>
		<div class="fftw_screen-name">
			%PROFILE_LINK%
		</div>
		<div class="fftw_full-name">(%USER_NAME%)</div>
		<div class="fftw_content-bubble-arrow"></div>
	</div>
	<div class="fftw_content">
		<div class="fftw_wrapper">
			<span class="fftw_status-body">
				<span class="fftw_profile_title">Bio:</span>
				<span class="fftw_entry-content">
					%USER_DESCRIPTION%
				</span>
			</span>
		</div>
	</div>
</div>
